@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (Model.EnableGreeting)
    {
        <h1 style="color:@Model.GreetingColor">@Model.GreetingMessage</h1>
        @if (Model.HasSecretKey)
        {
            <p>Secret key: <strong>@Model.SecretKey</strong></p>
        }
        else
        {
            <p>No secret key found...</p>
        }
    }
    else
    {
        <h1>No greeting...</h1>
    }

    <p>Learn about configuration with ASP.NET Core.</p>
</div>